body {
    background: #f5f5f5;
    font-family: serif;
    color: #333;
}

.container {
    max-width: 900px;
    background: #fff;
    margin: 30px auto;
    padding: 40px;
    border-top: 6px solid #666;
    border-bottom: 6px solid #666;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name h1 {
    font-size: 34px;
    letter-spacing: 2px;
}

.role {
    font-size: italic;
    color: #555;
}

.contact {
    text-align: right;
    font-size: 14px;
}

.contact a {
    background: #777;
    color: #fff;
    padding: 6px 10px;
    text-decoration: none;
    font-size: 13px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 25px 0;
}


.row {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 20px;
}

.left {
    font-size: italic;
    font-size: 18px;
    color: #444;
}

.right {
    font-size: 15px;
    line-height: 1.6;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-3 h4 {
    margin-bottom: 5px;
}

.tech span {
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 30px;
}

.tech a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.tech a:hover {
    text-decoration: underline;
}